/* Este repositório base fué creado para ayudarte en caso que no sepas como comenzar, recuerda que el portafolio es tu carta de presentación y debes darle tu cara, por eso te invitamos a personalizarlo según tu estilo y preferencias no te limites apenas al layout propuesto en figma  
*/
:root {
  --color-de-fondo: #f5f5f5;
  --color-de-fondo-menu: #ffffff;
  --color-de-link: #000000;
}

body {
  background-color: var(--color-de-fondo);
  font-family: "Raleway", sans-serif;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  line-height: 1.6;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-de-link);
}

/* ------------------------------ Sección Menú -------------------------------*/
.cabecera {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  padding: 1rem;
  background-color: var(--color-de-fondo-menu);
}

.cabecera__section {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cabecera__logo {
  width: 24px;
  height: 24px;
}

.cabecera__titulo {
  font-size: 1.2rem;
  text-align: center;
}

.navegacion__elemento:nth-child(1),
.navegacion__elemento:nth-child(2),
.navegacion__elemento:nth-child(3),
.navegacion__elemento:nth-child(4),
.navegacion__elemento:nth-child(5),
.navegacion__elemento:nth-child(6) {
  display: none;
}

.navegacion__elemento a {
  font-size: 0.9rem;
}

/* ------------------------------ Sección Presentación ------------------------------*/
.presentacion {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.presentacion__foto {
  width: 98px;
  height: 98px;
}

.redes {
  display: flex;
  padding: 0;
  justify-content: space-between;
  white-space: nowrap;
}

/* ------------------------------ Sección sobre mí ----------------------------------*/
.sobre-mi {
  padding: 16px;
  background-color: #2a7be46b;
}

.sobre-mi__firma {
  width: 140px;
  height: 52px;
}

/*------------------------------ Sección de Habilidades ------------------------------*/
.habilidades__titulo {
  text-align: center;
}

.habilidades__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 16px;
  padding: 0;
}

.habilidades__elemento {
  width: 156px;
  height: 118px;
  background-color: #ffffff;
  padding: 16px 16px 0px 16px;
}

.habilidades__icono {
  margin-top: 36px;
}

/*------------------------------ Sección de Aficiones --------------------------------*/
.aficiones {
  flex-wrap: wrap;
}

.aficiones__titulo {
  text-align: center;
}

.aficiones__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 16px;
  padding: 0;
}

.aficiones__elemento {
  width: 156px;
  height: 118px;
  background-color: #ffffff;
  padding: 16px 16px 0px 16px;
}

.aficiones__icono {
  margin-top: 36px;
}

/*------------------------------ Sección de Formación Académica --------------------------------*/
.formacion {
  display: flex;
  flex-direction: column;
  background-color: #2a7be46b;
}

.formacion__titulo {
  text-align: center;
}

.formacion__nombre {
  margin: 0;
}

.formacion__lista {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 32px;
  gap: 16px;
  margin: 0;
}

.formacion__container__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 296px;
  height: 169px;
  padding: 16px;
}

.formacion__container__detalles {
  margin: 0;
}

/*------------------------------ Sección de Proyectos --------------------------------*/
.proyectos {
  padding: 32px;
}

.proyectos__titulo {
  text-align: center;
}

.proyectos__lista {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.proyectos__imagen {
  width: 100%;
  height: auto;
}

.demo__boton {
  width: 133px;
  height: 40px;
  background-color: #2a7ae4;
  color: white;
  border: none;
}

/*------------------------------ Sección de Contacto ---------------------------------*/
.contacto {
  background-color: #2a7be46b;
  padding: 32px;
}

.contacto__titulo {
  margin: 0;
}

.contacto p {
  margin-top: 8px;
}

.contacto__formulario {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.contacto__formulario input,
textarea {
  border: 0;
  border-bottom: 1px solid #2a7ae4;
}

.contacto__formulario input {
  height: 56px;
}

.contacto__formulario textarea {
  height: 133px;
}

.contacto__boton {
  width: 133px;
  height: 40px;
  background-color: #2a7ae4;
  color: white;
  border: none;
}

.contacto__imagen {
  display: none;
}

/* ------------------------------ Rodapie ---------------------------------------*/
.rodapie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
}

.rodapie p {
  margin: 0;
}

/* ------------------------------ Responsividad ---------------------------------------*/

/* Tablets y pantallas más grandes */
@media (min-width: 768px) {
  .cabecera {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .cabecera__logo {
    max-width: 100px;
  }

  .cabecera__titulo {
    font-size: 1.5rem;
  }

  .navegacion__lista {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 0;
  }

  .navegacion__elemento a {
    font-size: 1rem;
  }

  .navegacion__elemento:nth-child(6) {
    display: flex;
  }

  .navegacion__elemento:nth-child(7) {
    display: none;
  }

  .presentacion {
    flex-direction: row;
    justify-content: center; /*Alineación horizontal*/
    align-items: center; /*Alineación vertical*/
    gap: 32px;
  }

  .presentacion__foto {
    order: 2;
    width: 146px;
    height: 146px;
  }

  .redes {
    justify-content: space-between;
  }

  .sobre-mi {
    padding: 32px;
  }

  .formacion__lista {
    flex-flow: wrap;
    padding: 0;
  }

  .formacion__container__icon {
    display: flex;
    width: 224px;
    height: 118px;
    padding: 16px;
  }

  .formacion__icono {
    width: 80px;
    width: 60px;
  }
}

/* Pantallas grandes */
@media (min-width: 1024px) {
  /* Aquí puedes ajustar aún más el diseño para pantallas grandes */
  .cabecera {
    justify-content: space-around;
  }

  .cabecera__titulo {
    font-size: 1.8rem;
  }

  .navegacion__elemento a {
    font-size: 1.1rem;
  }

  .navegacion__elemento:nth-child(1),
  .navegacion__elemento:nth-child(2),
  .navegacion__elemento:nth-child(3),
  .navegacion__elemento:nth-child(4),
  .navegacion__elemento:nth-child(5),
  .navegacion__elemento:nth-child(6) {
    display: flex;
  }

  .presentacion {
    display: flex;
    margin: 0 152px 0 152px;
    padding: 0;
  }

  .presentacion__titulo {
    font-size: 3.25rem;
  }

  .presentacion__foto {
    width: 368px;
    height: 368px;
  }

  .redes {
    justify-content: start;
    gap: 32px;
  }

  .sobre-mi {
    padding: 64px 152px 64px 152px;
  }

  .habilidades {
    margin: 0px 0 88px 0;
  }

  .habilidades__lista {
    margin: 0 64px;
  }

  .habilidades__titulo {
    margin-bottom: 32px;
  }

  .aficiones {
    margin: 0px 0 88px 0;
  }

  .aficiones__lista {
    margin: 0 64px;
  }

  .aficiones__titulo {
    margin-bottom: 32px;
  }

  .proyectos__contenedor {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0 152px 0 152px;
  }

  .proyectos__imagen {
    width: 752px;
    height: 406px;
  }

  .proyectos__contenedor:nth-child(2) img {
    order: 2;
  }

  .contacto {
    display: flex;
    padding: 64px 152px 64px 152px;
    gap: 16px;
  }

  .contacto__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .contacto__imagen {
    display: flex;
    width: 484px;
  }
}
